.o-tabs {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12px;
    width: 352px;
    height: 64px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    justify-items: center;
    grid-column-gap: 12px;
    padding: 0 12px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.48);
    backdrop-filter: blur(8px);
    
    @media (min-width: 768px) {
        top: 32px;
        width: 524px;
        height: auto;
        padding: 0 40px;
        grid-column-gap: 64px;
        border-radius: 8px;
    }
    
    .c-configBtn {
        color: #121010;
        text-align: center;
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.44px;
        text-transform: uppercase;
        background: none;
        border: 1px solid transparent;
        padding: 12px 12px;
        margin-bottom: 2px;
        cursor: pointer;
        outline: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        
        @media (min-width: 768px) {
            padding: 24px 36px;
            font-size: 22px;
        }

        &.active {
            border-bottom: 1px solid #121010;
        }
    }
}